{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'chatrooms/nav.html' %}
    <div class="container">
      <h2>All Chat Rooms</h2>
      <ul>
        {% for room in rooms %}
          <li><a href="{% url 'room' room.name %}">{{ room.name }}</a></li>
        {% endfor %}
      </ul>
      <a href="{% url 'create_room' %}" class="button">Create New Room</a>
    </div>

    <script src="{% static 'index.js' %}"></script>
</body>
</html>